@font-face
{
    font-family: 'fa_mixfont';
    font-weight: normal;
    font-style: normal;

    src: local('FontAwesome'), url('../fonts/icons_hadits.woff2?v=5') format('woff2'),
    url('../fonts/icons_hadits.otf?v=5') format('opentype');
    font-display: swap;
}
.fa,
.icon
{
    font: normal normal normal 14px/1 fa_mixfont;
    font-size: inherit;

    display: inline-block;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-lg
{
    font-size: 1.33333333em;
    line-height: .75em;

    vertical-align: -15%;
}
.fa-search:before
{
    content: '\f002';
}
.fa-gear:before
{
    content: '\f013';
}
.fa-home:before
{
    content: '\f015';
}
.fa-times-circle:before
{
    content: '\f057';
}
.fa-twitter:before
{
    content: '\f099';
}
.fa-facebook:before
{
    content: '\f09a';
}
.fa-arrow-circle-left:before
{
    content: '\f0a8';
}
.fa-arrow-circle-right:before
{
    content: '\f0a9';
}
.fa-globe:before
{
    content: '\f0ac';
}
.fa-navicon:before
{
    content: '\f0c9';
}
.fa-angle-double-left:before
{
    content: '\f100';
}
.fa-angle-double-right:before
{
    content: '\f101';
}
.fa-angle-left:before
{
    content: '\f104';
}
.fa-angle-right:before
{
    content: '\f105';
}
.fa-angle-up:before
{
    content: '\f106';
}
.fa-angle-down:before
{
    content: '\f107';
}
.fa-quote-left:before
{
    content: '\f10d';
}
.fa-quote-right:before
{
    content: '\f10e';
}
.fa-chevron-circle-left:before
{
    content: '\f137';
}
.fa-chevron-circle-right:before
{
    content: '\f138';
}
.fa-ellipsis-h:before
{
    content: '\f141';
}
.fa-ellipsis-v:before
{
    content: '\f142';
}
.fa-moon-o:before
{
    content: '\f186';
}
.fa-whatsapp:before
{
    content: '\f232';
}
.fa-instagram:before
{
    content: '\f16d';
}
.fa-pinterest:before
{
    content: '\f0d2';
}
.fa-share-alt:before
{
    content: '\f1e0';
}
@font-face
{
    font-family: 'UthmanicHafs1Ver09';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: local('KFGQPC Uthmanic Script HAFS'), url('../fonts/UthmanicHafs1Ver09.woff2') format('woff2');
}
.skippy
{
    display: block;

    padding: 1em;

    text-align: center;

    color: #fff;
    outline: 0;
    background-color: #563d7c;
}
.skippy:hover
{
    color: #fff;
}
.skippy-text
{
    padding: .5em;

    outline: 1px dotted;
}
.sr-only
{
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
    padding: 0;

    white-space: nowrap;

    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus
{
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;

    white-space: normal;
}
html
{
    font-family: sans-serif;

    word-wrap: break-word;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}
body
{
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}
audio,
canvas,
progress,
video
{
    display: inline-block;

    vertical-align: baseline;
}
audio:not([controls])
{
    display: none;

    height: 0;
}
[hidden],
template
{
    display: none;
}
a
{
    background-color: transparent;
}
a:active,
a:hover
{
    outline: 0;
}
abbr[title]
{
    text-decoration: none;

    border-bottom: 1px dotted;
}
img
{
    display: block;

    max-width: 100%;
    height: auto;

    vertical-align: middle;

    border: 0;
}
svg:not(:root)
{
    overflow: hidden;
}
figure
{
    margin: 1em 40px;
}
hr
{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    height: 0;
}
pre
{
    overflow: auto;
}
code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea
{
    font: inherit;

    margin: 0;

    color: inherit;
}
button
{
    overflow: visible;
}
button,
select
{
    text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    cursor: pointer;

    -webkit-appearance: button;
}
button[disabled],
html input[disabled]
{
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0;

    border: 0;
}
input
{
    line-height: normal;
}
input[type='checkbox'],
input[type='radio']
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}
input[type='search']
{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;

    -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}
fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em;

    border: 1px solid silver;
}
legend
{
    padding: 0;

    border: 0;
}
textarea
{
    overflow: auto;
}
optgroup
{
    font-weight: 700;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th
{
    padding: 0;
}
*,
*:after,
*:before
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body,
html
{
    font-size: 100%;

    margin: 0;
    padding: 0;
}
.clearfix:before,
.clearfix:after,
.row:after,
.row:before
{
    display: table;

    content: ' ';
}
.clearfix:after,
.row:after
{
    clear: both;
}
.row.center
{
    text-align: center;
}
.table tbody > :nth-child(2n-1)
{
    background: #fafafa;
}
.table-responsive
{
    font-size: 14px;

    overflow-x: auto;

    min-height: .01%;
}
.wrapper
{
    min-height: 500px;
}
.quran-container
{
    display: flex;
    flex-wrap: wrap;

    padding: 0 0 .5rem .1rem;

    direction: rtl;
}
.quran-container > div
{
    margin: 2px 5px;
    padding: 5px;

    border-bottom: 1px solid #dae1f2;
    background-color: #fff;
}
.quran-container > div span
{
    margin: 0;
    padding: 0;

    text-align: center;
}
.bdi
{
    unicode-bidi: -webkit-isolate;
}
.ltr
{
    direction: ltr;
}
.rtl
{
    direction: rtl;
}
body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    margin: 0;
    padding: 0;

    word-wrap: break-word;

    color: #444;
    background-color: #fff;
}
p
{
    margin-top: 0;
    margin-bottom: 1rem;
}
.quran-text
{
    font-size: 25px;
    line-height: 1.5em;
}
.inner > .quran-text.text-ar
{
    margin-bottom: .5rem;
}
[lang='ar'],
.text-ar
{
    font-family: 'UthmanicHafs1Ver09', 'qalam', 'Scheherazade', 'me_quran', Serif;
}
.text-muted
{
    color: #6c757d;
}
.list-unstyled
{
    padding-left: 0;

    list-style: none;
}
.text-right
{
    text-align: right;
}
.text-center
{
    text-align: center;
}
.text-left
{
    text-align: left;
}
.no-underline
{
    text-decoration: none;
}
.transliteration
{
    font-style: italic;

    position: relative;

    text-align: right;
}
.translation
{
    position: relative;

    display: inline-block;
}
.bismillah
{
    display: block;

    width: 250px;
    height: 56px;
    margin: 1em auto;
}
.img-responsive,
.img-wrapper
{
    display: block;

    max-width: 100%;
    height: auto;
}
.translation:before
{
    font-family: 'fa_mixfont';

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    content: '\f10d';

    color: #a1b4dd;
}
.float-left
{
    float: left;
}
.float-right
{
    float: right;
}
input:focus
{
    border: 1px solid #dae1f2;
}
a
{
    text-decoration: none;

    color: #0061a0;
    background-color: transparent;
}
a:active,
a:focus
{
    outline: none;
}
a:hover,
a:active
{
    color: #3959b2;
}
.logo
{
    position: relative;
}
.logo > a
{
    font-family: 'fa_mixfont';
    font-size: 31px;
    font-weight: 700;
    line-height: 70px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    color: #515079;
}
.logo span
{
    color: #b4c3e4;
}
#content
{
    min-height: 500px;
}
.main,
.container,
.header-wrapper,
.nav-list
{
    max-width: 960px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.title
{
    font-size: 16px;

    margin: 0;

    text-align: center;

    color: #666;
}
.header
{
    position: relative;

    float: left;

    width: 100%;
    min-height: 60px;
    margin-bottom: 1rem;

    border-bottom: 1px solid #dae1f2;
    background: rgba(0, 0, 0, .01);
}
.searchbox
{
    position: relative;

    float: right;
    overflow: hidden;

    width: 0;
    min-width: 50px;
    height: 60px;

    -webkit-transition: width .3s;
       -moz-transition: width .3s;
        -ms-transition: width .3s;
         -o-transition: width .3s;
            transition: width .3s;
}
.searchbox-icon,
.searchbox-submit
{
    font-size: 22px;
    line-height: 65px;

    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 50px;
    height: 60px;
    margin: 0;
    padding: 0;

    cursor: pointer;
    text-align: center;

    color: #0061a0;
    border: 0;
    outline: 0;
    background: none;
}
.searchbox-icon.active,
.searchbox-submit.active,
.searchbox-submit:hover,
.searchbox-icon:hover
{
    color: #dcddd8;
    background: #0061a0;
}
.nav-list
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    list-style: none;
}
.nav-list .li-left
{
    text-align: left;
}
.nav-list .li-center
{
    flex: 0 0 82.666667%;

    max-width: 82.666667%;

    text-align: center;
}
.nav-list .li-right
{
    text-align: right;
}
.nav-list .li-left,
.nav-list .li-right
{
    flex: 0 0 8.666667%;

    max-width: 8.666667%;
}
.nav-list .fa-lg
{
    font-size: 2em;
    line-height: 1.2em;

    vertical-align: -15%;

    color: #0061a0;
}
#title
{
    font-size: 19px;

    margin-top: 0;
}
.hadits-title
{
    font-size: 18px;
    line-height: 1.1;

    display: block;

    margin: .6em 0;
    padding: 0;
}
.hadits-title .chapter-title
{
    font-size: 14px;
    font-weight: 400;

    color: #555;
}
.bdr-t
{
    border-top: 1px solid #dae1f2;
}
.pad-t
{
    padding-top: 1rem;
}
.pagination
{
    display: inline-block;

    margin: 1rem 0;
}
.pagination a,
.pagination span
{
    display: inline-block;

    padding: 5px 14px;

    text-decoration: none;
}
.pagination .active
{
    color: #fff;
    background-color: #0061a0;
}
.pagination a:hover:not(.active)
{
    background-color: #eee;
}
.footer
{
    font-size: 16px;

    margin-top: 20px;
    padding: 1rem 0 1.5rem;

    text-align: center;

    border-top: 1px solid #dae1f2;
    background: rgba(0, 0, 0, .01);

    direction: ltr;
}
.footer .list-inline
{
    font-size: 14px;

    margin-bottom: 1rem;
}
.footer .list-inline a
{
    display: inline-block;

    padding-bottom: 3px;

    border-bottom: 1px dashed #bbb;
}
.footer li
{
    font-size: 14px;
}
.footer a
{
    color: #444;
}
.list-inline
{
    padding: 0;

    list-style: none;
}
.list-inline li
{
    display: inline-block;

    margin: 0 1rem;
}
.button
{
    display: inline-block;

    text-align: center;

    border-radius: 5px;
}
.button
{
    margin-bottom: 1rem;
    padding: 7px;
}
.button:hover
{
    opacity: .9;
}
.button-primary
{
    color: #fff;
    background: #0061a0;
}
.button-success
{
    color: #fff;
    background: #28a745;
}
.footer .button-primary
{
    margin-bottom: 0;

    color: #fff;
}
.footer .help,
.text-secondary
{
    color: #666;
}
.featured
{
    display: block;

    height: auto;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    text-align: center;
}
#featured_1.featured
{
    max-width: 768px;
}
#featured_2.featured
{
    max-width: 468px;
}
.footer ins
{
    font-size: 14px;

    text-decoration: none;
}
#tab-container
{
    margin: 1.5rem 0;
}
.tabs-view #navlist,
.accordion-view #navlist
{
    font-size: 14px;

    margin: 0;
    padding-left: 0;

    text-align: left;

    border-bottom: 1px solid #dae1f2;
}
.tabs-view #navlist li,
.accordion-view #navlist li
{
    display: inline-block;

    margin: 0;

    list-style: none;
}
.tabs-view #panels
{
    border: 1px solid #dae1f2;
    border-top: none;
}
.tabs-view .panel
{
    display: none;

    padding: 10px;
}
.tabs-view .panel.current
{
    display: block;
}
.accordion-view #navlist
{
    padding: 3px 0;
}
.accordion-view #navlist li
{
    position: relative;

    display: block;

    margin: 0 auto;
}
.accordion-view #panels
{
    display: none;
}
.accordion-view .panel
{
    display: none;

    width: 100%;
    padding: 10px;

    border: 1px solid #dae1f2;
    border-top: none;
}
.accordion-view .panel.current
{
    display: block;
}
.tabs-view #navlist > li > a,
.accordion-view #navlist > li > a
{
    line-height: 1.9;

    padding: .2rem .6rem .3rem;

    text-decoration: none;

    color: #d4ddf1;
    border: 1px solid #dae1f2;
    border-bottom: none;
    background: #fff;
}
.tabs-view #navlist > li > a[aria-selected='false']:hover,
.accordion-view #navlist > li > a[aria-selected='false']:hover
{
    color: #d4ddf1;
    background: #0061a0;
}
.tabs-view #navlist > li:last-child > a,
.accordion-view #navlist > li:last-child > a
{
    border-right: 1px solid #dae1f2;
}
.tabs-view #navlist .active a,
.accordion-view #navlist .active a
{
    font-weight: 700;

    color: #444;
    border-bottom: 1px solid #fff;
    outline: none;
    background: #fff;
}
.accordion-view #navlist > li > a
{
    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    padding: .7rem .5rem;

    text-decoration: none;

    color: #d4ddf1;
    border-right: 1px solid #0061a0;
    background: #0061a0;
}
.accordion-view #navlist .active a
{
    text-decoration: none;

    color: #444;
    border-right: 1px solid #dae1f2;
    border-bottom: 1px solid #fff;
    outline: none;
    background: #fff;
}
.text-center
{
    text-align: center;
}
.block .quran-text
{
    text-align: center;
}
.main .text-bn,
[lang='bn'] .panel-body
{
    font-size: 18px;
    line-height: 1.8;
}
.words-text.text-bn
{
    font-size: 16px;
}
#quran-info caption
{
    position: relative;

    padding: 1em .7rem;

    background: #edf0f9;
}
.closeButton
{
    font-size: 21px;
    line-height: 1.3;

    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

    border: 0;
    background: none;
}
.d-block
{
    display: block;
}
.table-center
{
    margin-bottom: 1em;

    border: 0;
}
.table caption
{
    margin-bottom: .5rem;
}
.table th,
.table td
{
    font-weight: 400;

    padding: .4em .5em;

    text-align: left;

    color: #60686f;
}
.table th
{
    color: #444;
}
.block .words-text:first-child
{
    padding-top: 0;
    padding-bottom: 8px;

    color: #545b61;
}
.text-trans
{
    font-size: 16px;
}
.translation-wrapper
{
    margin-bottom: 1rem;

    border: 1px solid #dae1f2;
}
.translation-wrapper div:first-child
{
    padding-top: 10px;
}
.translation-wrapper > div
{
    padding: 5px 10px;
}
.translation-wrapper > div:nth-child(odd)
{
    background: #fcfcfc;
}
.translation-wrapper h3
{
    font-size: 16px;

    margin: 0;
    padding-bottom: .3rem;

    color: #6c7592;
}
.translation-wrapper p
{
    color: #2a2d38;
}
.translation-wrapper h3 > span
{
    display: inline-block;

    margin-right: 5px;
    padding: 0 7px;

    color: #888;
    border: 1px solid #ddd;
}
.text-ur h3
{
    font-size: 23px;
    font-weight: normal;

    margin-bottom: 5px;
}
.rtl .title
{
    font-size: 25px;

    display: inline;
}
.rtl h2
{
    font-size: 25px;
    font-weight: normal;
}
.rtl .block .quran-text
{
    color: #555;
}
.rtl .quran-text.text-ar p
{
    font-size: 25px;
    line-height: 2.5;

    margin-bottom: 0;
}
.quran-text.text-ar p
{
    font-size: 25px;
    line-height: 2.5;

    color: #273e6d;
    color: #273e6d;

    direction: rtl;
}
small.text-muted,
small.text-muted,
strong.text-muted
{
    font-size: 90%;

    white-space: nowrap;
}
.inner
{
    margin-top: .5rem;
}
.translation + .button
{
    display: block;

    border: 1px solid #dbe1ef;
    border-radius: 50px;
}
.rtl .translation + .button
{
    font-size: 18px;
}
@media (max-width: 575.98px)
{
    .lang-wrapper
    {
        display: block;
    }
    .widget-lang.lang-index
    {
        margin: .5rem 0;
    }
    .quran-text
    {
        line-height: 1.4;
    }
    .list-index li
    {
        font-size: 14px;

        display: inline-block;

        width: 165px;
    }
}
@media screen and (max-width: 767px)
{
    .table-responsive
    {
        overflow-y: hidden;

        width: 100%;
        margin-bottom: 15px;

        border: 1px solid #ddd;

        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive > .table
    {
        min-width: 100%;
        margin: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td
    {
        white-space: nowrap;
    }
}
@media screen and (max-width: 991px)
{
    .rtl .quran-text.text-ar p,
    .quran-text.text-ar p,
    .transliteration
    {
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media screen and (min-width: 992px)
{
    .rtl .quran-text.text-ar p,
    .quran-text.text-ar p
    {
        font-size: 27px;
    }
    .panel-body
    {
        margin: 1rem;
    }
    .translation-wrapper
    {
        padding: 1.5rem;
    }
    .translation-wrapper > div
    {
        padding: 15px;
    }
    .translation-wrapper > div p
    {
        margin-bottom: 0;
    }
}
@media print
{
    .tabs-view #navlist > li > a,
    .accordion-view #navlist > li > a
    {
        line-height: 2;

        padding: 5px;

        border: 0;
    }
}
/*Hadits*/
.dropbtn
{
    font-size: 29px;

    cursor: pointer;

    color: #0061a0;
    border: none;
    background: none;
}
.dropbtn:hover,
.dropbtn:focus
{
    color: #3959b2;
}
.dropdown
{
    position: relative;

    display: inline-block;
}
.dropdown-content
{
    font-family: 'Segoe UI', sans-serif;

    position: absolute;
    z-index: 1;
    left: 0;

    display: none;
    overflow: auto;

    min-width: 130px;
    height: auto;

    border: 1px solid #dae1f2;
    background-color: #fff;
}
.dropdown-content a
{
    font-size: 14px;

    display: block;

    padding: 5px 15px;

    text-align: center;

    color: #444;
    border-bottom: 1px solid #fafafa;
}
.dropdown a:hover
{
    cursor: pointer;

    color: #3959b2;
}
.dropdown-content a.active
{
    color: #ccc;
}
.show
{
    display: block;
}
#selectHadits,
#selectHadits .row
{
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    justify-content: center;

    padding-right: 0;
    padding-left: 0;
}
#selectHadits .row
{
    margin: .7rem 0 .1rem;

    transition: all .5s ease;
}
.select
{
    position: relative;

    display: block;
    overflow: hidden;

    max-width: 115px;
}
select
{
    font-size: 16px;

    min-width: 123px;
    padding: 5px 10px;

    border: 0;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.form-control
{
    font-size: 1rem;
    line-height: 1.5;

    display: block;

    width: 100%;
    padding: .375rem .35rem;

    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    color: #495057;
    border: 1px solid #dae1f2;
    background-color: #fff;
    background-clip: padding-box;
}
.select:after
{
    font-family: fa_mixfont;

    position: absolute;
    top: 0;
    right: 0;

    box-sizing: border-box;
    height: 100%;
    padding: 9px 5px;

    content: '\f107';
    text-align: center;
    pointer-events: none;

    color: #20335a;
    border: 1px solid #dae1f2;
    border-right: none;
    background: #dae1f2;
}
.row .select:nth-child(3):after
{
    border: 1px solid #dae1f2;
}
.form-control:focus
{
    border-left: 1px solid #0061a0;
    outline: 0;
}
.hadits-arabic,
.hadits-translation
{
    margin: 15px 0 25px;
    padding-top: 10px;
}
.hadits-arabic
{
    font-family: 'UthmanicHafs1Ver09', serif;
    font-size: 27px;
    line-height: 1.8;

    text-align: right;

    color: #444;

    direction: rtl;
}
.sub-title
{
    font-size: 21px;
    font-weight: normal;
    line-height: 1.7;

    margin: 0;
    padding: 0;
}
h3.sub-title,
h4.sub-title
{
    margin-top: 1rem;
    margin-bottom: .5rem;
}
h4.sub-title > span
{
    font-size: 70%;
    font-style: italic;

    padding-right: .5rem;

    color: #999;
}
.list-citation
{
    margin-top: 0;
    padding-left: 0;

    list-style: none;
}
.list-citation li
{
    display: list-item;

    margin-left: 25px;
    padding-bottom: .5em;

    text-align: -webkit-match-parent;
    text-indent: -22px;
}
.list-related
{
    margin-top: 0;
    margin-bottom: 25px;
}
.c-index
{
    color: #0061a0;
}
.txt-t
{
    font-weight: normal;

    color: #999;
}
.hadits-info
{
    margin: 15px 0;

    text-align: center;

    color: #aaa;
}
.hadits-info p
{
    margin: 0;
}
.hadits-info p > strong
{
    font-weight: normal;

    padding-left: .3rem;

    color: #555;
}
.qh-cse
{
    display: none;
}
.rotate
{
    -webkit-transition: all .5s linear;
       -moz-transition: all .5s linear;
            transition: all .5s linear;
}
.rotate.down
{
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
            transform: rotate(180deg);
}
.form-control.inputNum
{
    width: 70px;

    border-radius: 0;
}
.search
{
    position: relative;

    display: flex;

    width: 100%;
    margin-bottom: 20px;
}
.searchTerm
{
    line-height: 1.5;

    width: 100%;
    padding: .175rem .55rem;

    color: #999;
    border: 1px solid #dae1f2;
    border-radius: 3px 0 0 3px;
    outline: none;
}
.searchTerm:focus
{
    color: #444;
    border-color: #b4c3e4;
}
.searchButton,
.searchNum
{
    font-size: 20px;
    line-height: 1.5;

    width: 40px;
    padding: .175rem .55rem;

    cursor: pointer;
    text-align: center;

    color: #555;
    border: 1px solid #dae1f2;
    border-left: 0;
    border-radius: 0 3px 3px 0;
    outline: none;
    background: #fff;
}
.searchButton:hover,
.searchNum:hover
{
    color: #fff;
    border: 1px solid #0061a0;
    background: #0061a0;
}
.searchTerm.warning,
.searchTerm:focus.warning,
.inputNum.warning,
.inputNum:focus.warning
{
    border-color: #dc3545;
}
.notify
{
    font-size: 12px;

    display: none;

    padding-bottom: 0;

    text-align: center;

    color: #dc3545;
}
.notify.show
{
    display: block;
}
