@media only screen and (max-width: 76.1875em) {
  [data-md-toggle="drawer"]:checked ~ .md-overlay {
    width: 100%;
    height: 100%;
    -webkit-transition: width 0s, height 0s, opacity 0.25s;
    transition: width 0s, height 0s, opacity 0.25s;
    opacity: 1;
  }
  .md-header-nav__button.md-icon--home,
  .md-header-nav__button.md-logo {
    display: none;
  }
  .md-nav {
    background-color: #fff;
  }
  .md-nav--primary,
  .md-nav--primary .md-nav {
    display: -webkit-box;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    z-index: 1;
  }
  .md-nav--primary .md-nav__item,
  .md-nav--primary .md-nav__title {
    font-size: 0.8rem;
    line-height: 1.5;
  }
  html .md-nav--primary .md-nav__title {
    position: relative;
    height: 5.6rem;
    padding: 3rem 0.8rem 0.2rem;
    background-color: rgba(0, 0, 0, 0.07);
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    line-height: 2.4rem;
    white-space: nowrap;
    cursor: pointer;
  }
  html .md-nav--primary .md-nav__title:before {
    display: block;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 2rem;
    height: 2rem;
    color: rgba(0, 0, 0, 0.54);
  }
  html .md-nav--primary .md-nav__title ~ .md-nav__list {
    background-color: #fff;
    box-shadow: inset 0 0.05rem 0 rgba(0, 0, 0, 0.07);
  }
  html
    .md-nav--primary
    .md-nav__title
    ~ .md-nav__list
    > .md-nav__item:first-child {
    border-top: 0;
  }
  html .md-nav--primary .md-nav__title--site {
    position: relative;
    background-color: #3f51b5;
    color: #fff;
  }
  html .md-nav--primary .md-nav__title--site .md-nav__button {
    display: block;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 2.4rem;
  }
  html .md-nav--primary .md-nav__title--site:before {
    display: none;
  }
  .md-nav--primary .md-nav__list {
    -webkit-box-flex: 1;
    flex: 1;
    overflow-y: auto;
  }
  .md-nav--primary .md-nav__item {
    padding: 0;
    border-top: 0.05rem solid rgba(0, 0, 0, 0.07);
  }

  .md-nav--primary .md-nav__item--nested > .md-nav__link {
    padding-right: 2.4rem;
  }

  .md-nav--primary .md-nav__item--nested > .md-nav__link:after {
    content: "\E315";
  }
  .md-nav--primary .md-nav__link {
    position: relative;
    margin-top: 0;
    padding: 0.6rem 0.8rem;
  }
  .md-nav--primary .md-nav__link:after {
    position: absolute;
    top: 50%;
    right: 0.6rem;
    margin-top: -0.6rem;
    color: inherit;
    font-size: 1.2rem;
  }
  .md-nav--primary .md-nav--secondary .md-nav__link {
    position: static;
  }
  .md-nav--primary .md-nav--secondary .md-nav {
    position: static;
    background-color: transparent;
  }
  .md-nav--primary .md-nav--secondary .md-nav .md-nav__link {
    padding-left: 1.4rem;
  }

  .md-nav--primary .md-nav--secondary .md-nav .md-nav .md-nav__link {
    padding-left: 2rem;
  }
  .md-nav--primary .md-nav--secondary .md-nav .md-nav .md-nav .md-nav__link {
    padding-left: 2.6rem;
  }
  .md-nav--primary
    .md-nav--secondary
    .md-nav
    .md-nav
    .md-nav
    .md-nav
    .md-nav__link {
    padding-left: 3.2rem;
  }
  .md-nav__toggle ~ .md-nav {
    display: -webkit-box;
    display: flex;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: opacity 0.125s 0.05s,
      -webkit-transform 0.25s cubic-bezier(0.8, 0, 0.6, 1);
    transition: opacity 0.125s 0.05s,
      -webkit-transform 0.25s cubic-bezier(0.8, 0, 0.6, 1);
    transition: transform 0.25s cubic-bezier(0.8, 0, 0.6, 1),
      opacity 0.125s 0.05s;
    transition: transform 0.25s cubic-bezier(0.8, 0, 0.6, 1),
      opacity 0.125s 0.05s, -webkit-transform 0.25s cubic-bezier(0.8, 0, 0.6, 1);
    opacity: 0;
  }
  .no-csstransforms3d .md-nav__toggle ~ .md-nav {
    display: none;
  }
  .md-nav__toggle:checked ~ .md-nav {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity 0.125s 0.125s,
      -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.125s 0.125s,
      -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.125s 0.125s;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.125s 0.125s,
      -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
  }
  .no-csstransforms3d .md-nav__toggle:checked ~ .md-nav {
    display: -webkit-box;
    display: flex;
  }
  .md-sidebar--primary {
    position: fixed;
    top: 0;
    left: -12.1rem;
    width: 12.1rem;
    height: 100%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: box-shadow 0.25s,
      -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.25s,
      -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s,
      -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
    z-index: 3;
  }
  .no-csstransforms3d .md-sidebar--primary {
    display: none;
  }
  [data-md-toggle="drawer"]:checked ~ .md-container .md-sidebar--primary {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    -webkit-transform: translateX(12.1rem);
    transform: translateX(12.1rem);
  }
  .no-csstransforms3d
    [data-md-toggle="drawer"]:checked
    ~ .md-container
    .md-sidebar--primary {
    display: block;
  }
  .md-sidebar--primary .md-sidebar__scrollwrap {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
  }
}